*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display:flex;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  /* обрезает элемент */
  clip: rect(0 0 0 0);
  /* создает прямоугольник, который начинается от 50% с каждой стороны */
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  /* запрещает перенос текста на новую строку */
  white-space: nowrap;
  width: 1px;
  border: none;
}

.content {
  display: flex;
  /*  устанавливает ширину элемента */
  inline-size: 100%;
  gap: 30px;
  margin: 0 30px;
}

.button {
  border: 1px solid #fff;
  height: 34px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color:#fff;
}

.result {
  align-self: flex-end;
}

.result__video-container {
  position: relative;
  width: 100%;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  position: relative;
  width: 100%;
  height: 100%;
  /* медиа-контент полностью помещаться в контейнер, сохраняя свои пропорции. */
  object-fit: contain;
  /*  выравнивание изображения внутри контейнера */
  object-position: center;
}

.search-form__fieldset {
  display:flex;
  flex-direction: column;
  height: 100%;
  width: fit-content;
}

.search-form {
  display:flex;
  width: 100%;
  margin-top: 14px;
  justify-content: space-between;
}

.search-form__fieldset:nth-child(2){
  margin-left: 44px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
 margin-bottom: 5px;
}

.title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 75px;
  color:#fff;
  /* межстрочный интервал */
  line-height: 0.94;
  text-transform: uppercase;
}

.content__accent {
  color:#545050;
}

.content__list {
  position: relative;
  height: 298px;
  /*  управляет отображением контента, когда он выходит за границы своего контейнера*/
  overflow: auto;
  margin-top: 23px;
  /* отключает горизонтальную прокрутку */
  overflow-x: hidden;
}

.content__video-card {
  display: inline-flex;
  width: 100%;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  /* е устанавливает фиксированную высоту строки  */
  line-height: 30px;
  color:#fff;
  text-transform: uppercase;
  max-width: 200px;
  /* которое добавляет многоточие в конце текста, когда он не помещается в контейнер.  */
  text-overflow: ellipsis;
  /* запрещает перенос текста на новую строку */
  white-space: nowrap;
  /* отключает горизонтальную прокрутку */
  overflow: hidden;
}

.content__video-card-description {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
}

.content__video-card-thumbnail {
  width: 194px;
  margin-left: auto;
  /* медиа-контент полностью помещаться в контейнер, сохраняя свои пропорции. */
  object-fit: contain;
  /*  выравнивание изображения внутри контейнера */
  object-position: center;
}

.search-form__submit-button {
  width: 194px;
  margin-top: 20px;
  margin-left: 36px;
  text-align: center;
}

.more-button {
  width: 399px;
  height: 33px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  outline:none; 
}
/* создание контура вокруг элемента */
.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.content__list-item { 
  width: 100%;
  margin-bottom: 30px;
}

.content__list-item:last-child {
  margin-bottom: 0;
}

.search-form__pseudo-checkbox {
  display: block;
  border: 1px solid #fff;
  width: 19px;
  height: 19px;
  margin-top: 1px;
}


.search-form__checkbox-list {
  display: flex;
  width: fit-content;
  gap: 12px;
}

.search-form__checkbox-list label:hover {
  cursor: pointer;
  text-decoration: underline; 
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before {
  /*  используется для генерации контента через псевдо-элементы ::before и ::after */
  content: '';
  display: block;
  position: relative; 
  top: 1px;
  left: 1px;
  width:15px;
  height: 15px;
  text-align: center;
  background-color: #fff;
}

.search-form__textfield:focus {
  /* полностью отключает контур у элемента */
  outline: none;
}

.search-form__textfield:active {
  /* задаёт контур элемента */
 outline: 2px solid #fff;
}

.search-form__fieldset {
  border:none;
}

.search-form__label {
  display: flex;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color:#fff;
  align-self: flex-start;
}

.search-form__label-text {
  margin: 0 3px 8px 6px;
}


.search-form__label-text:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) { 
  /* задаёт контур элемента */
  outline: 1px solid #fff; 
  /* расстояние между контуром и границей элемента */
  outline-offset: 1px; 
} 

.search-form__textfield {
  width:225px;
  appearance: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: none;
  border-right: none;
  padding: 2px 0;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: inherit;
  background-color: inherit;  
}

.search-form__label:has(.search-form__pseudo-checkbox) {
  height: 21px;
}

.search-form__label:has(.search-form__pseudo-checkbox):focus-visible {
  /* задаёт контур элемента */
  outline: 1px solid #fff; 
  /* расстояние между контуром и границей элемента */
  outline-offset: 1px;
}

.content__card-link {
  display: block;
}

/*выделение первой или активной карты */
.content__card-link_current article {
  background-color: #545050;
}

.content__card-link:hover h2 {
  text-decoration: underline;
}

.content__card-link:hover p {
  text-decoration: underline;
}

.content__card-link:focus-visible {
  /* задаёт контур элемента */
  outline: 1px solid #fff;
  margin: 2px; 
}

.content__card-link:focus {
  outline: none;
}

